<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Progress bar</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]='percentage1'  aria-valuenow="50" aria-valuemin="0"
            aria-valuemax="100" [style.width]="percentage1 + '%'"></div>
        </div><br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" [attr.ariaValuenow]='percentage2'  aria-valuenow="50" aria-valuemin="0"
            aria-valuemax="100" [style.width]="percentage2 + '%'"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment (onPercentageChangeEmitter)="percentage1 = $event" legend="Progress azul" [percentage]="percentage1"></app-increment>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment (onPercentageChangeEmitter)="percentage2 = $event" legend="Progress rojo" [percentage]="percentage2"></app-increment>
      </div>
    </div>
  </div>
</div>